body {
    font-family: sans-serif;
}
header{
    background-color: aqua;
    border: 1px solid color #00FF00;
    padding: 5px;
    
}
h1{

  color: aqua;
    
}

footer p{
 background-color: rgba(0, 255, 98, 0.568);
}
nav{

background-color: aquamarine;
}

.cringe{
    background-color: rgba(0, 255, 98, 0.568);
}
